@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@300 & display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* ¨¨¨¨navbar¨¨¨¨inicio */

.logo{position: relative;
  top: 15px;
  left: 5%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, .1);
  background: linear-gradient(to right,
  rgb(76, 217, 105),
  rgb(52, 170, 220),
  rgb(88, 86, 217),
  rgb(255, 45, 83),
  rgb(255, 45, 83),
  rgb(88, 86, 217),
  rgb(52, 170, 220),
  rgb(76, 217, 105)
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 10em;
  text-align: left;
  animation: sTransition 10s linear infinite;
}
@keyframes sTransition {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

header{
  position: fixed;
  width: 100%;
  background-attachment: fixed;
  top: 0%;
  
}
* {
    margin: 0;
    padding: 0;
  }
  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  input[type="checkbox"]{
    display: none;
}
.bi {
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
}
.bi-moon {
    display: none;
    
}

  /* Dark Mode */

  .dark,
.dark header{
    background-color:#263238;
    color: #fff;
    

}

.dark .bi-sun {
    display: none;
    
}

.dark .bi-moon {
    display: block;
    
}

.dark .card {
    background-color: #37474f;
}

.dark .card-image {
    background-color: #273035;
}

.dark .subtitle {
    color: #67b4f3;
}


.dark .description {
    color: #2196f3;
}

.dark .btn {
    background-color: #67b4f3;
}


/* main */

main {
  background-size: cover;
  height: 92vh;
  display: table;
  pointer-events: none;
  z-index: 0;
  -webkit-transition: transform cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.45 cubic-bezier(0, 0, 0.21, 1);
  
}

/*.conteudo{
  width: 74%;
  background-color: white;
  padding: 50px;
  margin: 120px auto;
  border-radius: 10px;
  line-height: 3rem;
}*/
.sobre{
  font-size: 2rem;
  width: 100%;
}
h1{
  font-size: 3rem;
  margin-top: 70px;
}

h2{
  font-size: 2rem;
  font-family: monospace;
  margin-top: 2rem;
}

img{
  width: 350px;
  float: left;
  bottom: 30px;
  margin-top: 2rem;
}

/* titulo h3*/
.titulo{
  font-size: 2rem;
  margin: 20px 20px 20px 20px;
  width: 22ch;
  animation: typing 2s steps(22),
  blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden; 
  /* border-right: 3px solid; */
  font-family: monospace;

}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}
/* habilidade */
.habilidade{
  margin-left: 20px;
}
.habilidade img {
  width: 30px;
  margin: 20px;


}
.habilidade label{
  width: 280px;
  display: inline-block;
  ;

}
.habilidade progress{
  accent-color: #2e2d4c;
}
.fonte{
  font-size: 1.5rem;
  display:flex
}
.fonte label, progress{
  margin-top: 20px;

}





/* Projetos */

.projeto{
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.projeto > p{
  scroll-snap-align: start;
}
.projeto p {
  border-radius: 10px;
  width: 540px;
  object-fit: contain;
}
/*.habilidade::-webkit-scrollbar {
  display: none;
}*/