@import url('https://fonts.googleapis.com/css2? family= Noto+Sans:wght@300 & display=swap');
@import "compass/css3";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none; 
}
/* ¨¨¨¨navbar¨¨¨¨inicio */

.logo{position: relative;
  top: 15px;
  left: 5%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, .1);
  background: linear-gradient(to right,
  rgb(76, 217, 105),
  rgb(52, 170, 220),
  rgb(88, 86, 217),
  rgb(255, 45, 83),
  rgb(255, 45, 83),
  rgb(88, 86, 217),
  rgb(52, 170, 220),
  rgb(76, 217, 105)
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: 700;
  font-size: 10em;
  text-align: left;
  animation: sTransition 10s linear infinite;
}
@keyframes sTransition {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}

header{
  position: fixed;
  width: 100%;
  background-attachment: fixed;
  top: 0%;
  
}

  
  a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
  }
  
  a:hover {
    opacity: 0.7;
  }
  
  .logo {
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 30px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }
  
  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active,.btn-dark.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  input[type="checkbox"]{
    display: none;
}
.bi {
    font-size: 1.3rem;
    cursor: pointer;
    color: #fff;
}
.bi-moon {
    display: none;
    
}

  /* Dark Mode */

  .dark .conteudo{
    background-color: #263238;
    color: #fff;
  }

  .dark,
.dark header{
    background-color:#2e2d4c;
    color: rgb(0, 0, 0);
}
.dark .projetos a, .dark .form label {
  color: #fff;
}
.dark .projetos li, .dark .contatos li{
  box-shadow: 2px 2px 2px 4px #cccbdf;
}
.dark .contatos .bi{
  color: #fff;
}
.dark .icon, .dark .btn-inicio {
  color: #fff;
  outline: 2px solid #fff;
}

.dark .bi-sun {
    display: none;
    
}

.dark .bi-moon {
    display: block;
    
}

.dark .card {
    background-color: #37474f;
}

.dark .card-image {
    background-color: #273035;
}

.dark .subtitle {
    color: #67b4f3;
}


.dark .description {
    color: #2196f3;
}


/* MAIN STYLE*/
html{
  scroll-behavior: smooth;
}

body{
  background-color: #2e2d4c;
  background-attachment: fixed;
}

/* background movél */

.conteudo{
  width: 74%;
  background-color: #fff;
  margin: 120px auto ;
  margin-bottom: -100px;
  border-radius: 10px;
  line-height: 3rem;
  /* padding-bottom: 100vh; */
}
.conteudo section {
  background-size: cover;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: table;
  z-index: 0;
  -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
  transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
  vertical-align:middle;
  }

/* sobre */

.sobre{
  width: 100%;
  height: 100%;
  margin-right: 20px;
  padding: 10px;
  font-size: 1.5rem;
  font-family:sans-serif;
  justify-items: center;
  text-justify: auto;
}
h1, h2{
  white-space:inherit;
  font-size: 2rem;
  font-family: monospace;
}
h1{
  padding-top: 50px;
  font-size: 1.9rem;
  margin-top: 50px;
  width: 26ch;
  animation: typing 5s steps(26) infinite normal,
  blink .2s step-end ;
  white-space: nowrap;
  overflow:hidden;
  border-right: 3px ;
  font-family: monospace;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink{
  100% {
    border-color: transparent;
  }
}


.sobre img{
  width: 350px;
  height: 100%;
  float: left;
  margin-right: 10px;
  margin-left: -80px;
}

/* TITULO H3 STYLE*/
.titulo{
  font-size: 1.9rem;
  margin-top: 50px;
  width: 16ch;
  animation: typing 5s steps(16) infinite normal,
  blink .2s step-end  ;
  white-space: nowrap;
  overflow:hidden;
  border-right: 3px ;
  font-family: monospace;
}
@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes blink{
  100% {
    border-color: transparent;
  }
}
/* HABILIDADE STYLE */

.habilidade{
  width: 100%;
  height: 100%;
  margin-top: 30px;
  padding: 40px;
  font-size: 2rem;
  font-family:sans-serif;
  justify-items: center;
  text-justify: auto;
}
.habilidade img {
  width: 35px;
  margin: 10px 20px 20px;
}
.habilidade label{
  width: 280px;
  display: inline-block;
}
.habilidade progress{
  accent-color: #2e2d4c;
  margin-top: 5px;
}
.fonte{
  font-size: 1.8rem;
  display:flex;
}
.fonte label, progress{
  margin: 4px;
}


/* PROJETOS STYLE */

.projetos {
  width: 100%;
  height: 100%;
  margin: 20px;
  font-family:sans-serif;
  font-size: 1rem;
  font-family:sans-serif;
  justify-items: center;
  text-justify: auto;
}

.projetos p {
  overflow-y: auto;
  justify-content: center;
  display: flex;
  align-items: center;
      @media (max-width: 500px){
      padding: 5px;
  }
}

.projetos li {
  display: flex;
  flex-direction: column;
  text-align: start;
  word-break: break-word; 
  margin: 10px 10px 20px;
  box-shadow: 2px 2px 2px 4px #2e2d4c;
  gap: 2px;
  border-radius: 10px;
  padding: 15px;
}
.projetos a { 
  color: #000;
  font-size: 1rem;
  font-family: monospace;
}

/* CONTATOS STYLE */
.contatos{
  width: 100%;
  height: 100%;
  margin: 20px;
  font-family:sans-serif;
  justify-items: center;
}
.contatos .bi{
  width: 100%;
  height: 50%;
  background-color: #0072c4;
  font-size: 2rem;
  color: #000; 
  text-align: center;
  border-radius: 5rem;
  padding: 5px;
}
.ctn {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 10px;
  border-radius: 40rem ;
  color: #fff;
  background-color: #0072c4;
}
.contatos a:hover { 
  animation: shake .25s;
  @keyframes shake {
    10%{transform:  rotate(10deg);}
    20%{transform:  rotate(-10deg);}
    30%{transform:  rotate(10deg);}
    40%{transform:  rotate(-10deg);}
  }
}

.contatos li {
  display:flex;
  flex-direction: column;
  margin: 10px 10px 20px;
  box-shadow: 2px 2px 2px 4px #2e2d4c;
  word-break:initial;
  gap: 20px;
  border-radius: 10px;
  padding: 15px;
  font-size: 1rem;
}
.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
  color: #000;
}
.form label, .form input, .form textarea, .form button{
  display:block;
  width: 100%;
  height: 100%;
  
}
.form label {
  line-height: 1;
  margin-bottom: 0.5rem;
}
.form input, .form textarea {
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  background: #2e2d4c;
  transition: border-color, box-shadow 0.2s;
  color: #fff;
}
.form textarea{
  width: 100%;
  min-height: 13rem;
  resize: vertical;
}
.form input:hover,.form input:focus
.form textarea:hover,.form textarea:focus{
  outline: none;
  border-color: #09d;
  box-shadow: 0 0 0 3px #4dc8ff;
} 
.form button {
  display: block;
  padding: 1rem;
  width: 100%;
  background: #0072c4;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}
.form button:hover,
.form button:focus{
  outline: none;
  background: #09d;
}

/* LINK PARA DOWNLAOD */

section .dld{
  width: 100%;
  height: 100%;
  font-family:sans-serif;
  font-size: 1.5rem;
  margin: -40px;
}
.dld h3 {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  left: 50px;
  padding-top: 30px;
}

.dld .btn{
  width: 100%;
  height: 100%;
  text-transform: capitalize;
  font-weight: 700;
  text-decoration: none;
  position: relative;
  padding: 50px;
}

.text-1,
.text-2{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: 50% 50% -25%;
  transition: all 0.3s;
  padding: 20px;
}
.dld .text-1 {
  transform: rotateX(0deg);
  background-color: #2e2d4c;;
  color: #fff;
  width: 240px;
  height: 50%;
}
.dld .text-2 {
  transform: rotateX(90deg);
  background-color: #e0dede;
  color: #ff0000;
  width: 240px;
  height: 50%;
  box-shadow: 3px 6px 4px 4px #ff0000;
}
.text-2 i{
  margin-left: 10px;
}
.btn:hover .text-1 {
  transform: rotateX(-90deg);
}
.btn:hover .text-2 {
  transform: rotateX(0deg);
}

/* RODAPÉ */ 
.rodape {
  margin: auto;
  padding-top:  4rem;
  background-color:transparent;
  margin-top: -100px;
  background-attachment: fixed;
}
.rodape-stl {
  text-align: center;
  padding: 10px;
  color:#fff;;
  color: rgba(255, 255, 255, .1);
  background: linear-gradient(to right,
  rgb(76, 217, 105),
  rgb(52, 170, 220),
  rgb(88, 86, 217),
  rgb(255, 45, 83),
  rgb(255, 45, 83),
  rgb(88, 86, 217),
  rgb(52, 170, 220),
  rgb(76, 217, 105)
  );
  background-size: 400%;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1em;
  animation: sTransition 10s linear infinite;
}
@keyframes sTransition {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 400%;
  }
}
.rodape-stl p {
  font-size: 1.3rem;
  margin: 5px;
  font-family: sans-serif;
}

.btns-social {
  column-gap: 25px;
  background-color: transparent;
  border: transparent;
}
.icon {
  width: 60px;
  height: 60px;
  margin: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 26px;
  border-radius: 50%;
  outline: 2px solid #000;
  transition-property: outine-offset, outline-color, background-color;
  transition-duration: .25s;
  color: #000;
}
.icon:hover {
  outline-offset: 4px;
}
.icon:hover {
  animation: shake .25s;
}

.icon-face:hover,
.icon-ttt:hover{
  background-color: #1da1f2;
  outline-color: #1da1f2;
}
.icon-insta:hover {
  background-image: radial-gradient(circle at 30% 107%,
  #fdf497 0%, #fdf497 5%,
  #fd5949 45%, #d6249f 60%,
  #285aeb 90%);
  outline-color: #a02d76;
}
.icon-git:hover {
  background-color: #2EA44F;
  outline-color: #2EA44F;
}
.icon-like:hover {
  background-color: #0077b5;
  outline-color: #0077b5;
}
@keyframes shake {
  10%{transform:  rotate(15deg);}
  20%{transform:  rotate(-15deg);}
  30%{transform:  rotate(15deg);}
  40%{transform:  rotate(-15deg);}
}

/* botão inicio */
.btn-inicio{
  width: 30px;
  height: 30px;
  font-size: 1rem;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  position: fixed;
  margin: 10px;
  bottom: 20px;
  right: 20px;
  opacity: 0.3;
  outline: 2px solid rgb(0, 0, 0);
  transition-property: outine-offset, outline-color, background-color;
  transition-duration: .25s;
  scroll-behavior: smooth;
}
.btn-inicio:hover {
  background-image: radial-gradient(circle at 30% 107%,
  #fdf497 0%, #fdf497 5%,
  #fd5949 45%, #d6249f 60%,
  #285aeb 90%);
  outline-color: #a02d76;
}
@keyframes shake {
  10%{transform:  rotate(15deg);}
  20%{transform:  rotate(-15deg);}
  30%{transform:  rotate(15deg);}
  40%{transform:  rotate(-15deg);}
}
.btn-inicio:hover{
  outline-offset: 4px;
}

.btn-inicio:hover{
  opacity: 1;
  animation: shake .25s;
}

/* RESPONSIVE MOBILE */


@media(max-width: 720px){
  body{
    position: absolute;
  }
  .conteudo{
    line-height: 3rem;
    width: 100%;
    height: 100%;
  }
  .conteudo section {
    background-size: cover;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: table;
    z-index: 0;
    -webkit-transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
    transition: transform 0.45s cubic-bezier(0, 0, 0.21, 1);
    vertical-align:middle;
    }
  
  .sobre {
    width: 100%;
    height: 100%;
      margin:  auto;
      padding: 30px;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
      line-height: 1.3;        
      font-size: 1.5rem;
  }
  h2{
    font-size: 1.5rem;
  }

  .sobre img{
    width: 300px;
    text-align: center;
    float: left;
    padding: 20px;
  }
  .habilidade{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    padding: 40px;
    font-size: 2rem;
    font-family:sans-serif;
    justify-items: center;
    text-justify: auto;
  }
  .habilidade img {
    width: 35px;
    margin: 10px 20px 20px;
  }
  .habilidade label{
    width: 280px;
    display: inline-block;
  }
  .habilidade progress{
    accent-color: #2e2d4c;
    margin-top: 5px;
  }
  .fonte{
    font-size: 1.8rem;
    display:flex;
  }
  .fonte label, progress{
    margin: 4px;
  }
  .projetos{
    width: 100%;
    height: 100%;
  }
  .contatos{
    width: 100%;
    height: 100%;
    width: 30px;
    font-size: 1rem;
  }
  .fonte-media {
    font-size:auto;
    width: auto;
    margin: 10px;  
  }}